{% extends "base.html.twig"%}

{% block title %}TodoList - Index{% endblock %}
{% block body %}
<div class="container mt-4">
		<div class="jumbotron">
			<h1 class="display-4">Bienvenue sur Todo</h1>
			<p class="lead">Todo est une application qui va te permettre de gérer tes tâces à pas encore commencé,en cours ou terminé.</p>
			<hr class="my-4">
			<p>Pour commencer, rendez-vous sur la page d'inscription pour utiliser l'application.</p>
			<a class="btn btn-primary btn-lgz mt-4" href="{{ path('register') }}" role="button">Inscription</a>
		</div>

		</div>
		</div>
	</div>

{% endblock %}